!!!
%html
%head
    %title Márcio Áleson Rails Forum
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
%body
    %nav
        #logo
            %p Márcio's Rails Forum
    .wrapper
        %p.notice= notice
        %p.alert= alert

    .wrapper
        = yield
